		<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 		<h1 class="animated bounceIn"><%=title%></h1>
	  		 		<p class="animated slideInLeft"><%=txt1%>.</p>
	  		 		<p class="animated slideInRight"><%=txt2%>.</p>
	  		 		<a href="#about" class="btn homebtn smoothScroll">Learn More <i class="el-icon-chevron-down homeicon"></i></a>
	  		</header>	    
	    </div><!-- /headerwrap -->